#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_install:
	install -D -m 0755 govee_monitor.py debian/dankweather-govee-monitor/usr/bin/dankweather-govee-monitor
	install -D -m 0644 debian/dankweather-govee-monitor.conf debian/dankweather-govee-monitor/etc/dankweather-govee-monitor.conf

override_dh_builddeb:
	dh_builddeb -- -Zxz
